In [ ]:
print
datatypes bol, int, float, string
datastructures list, set, tuple, dictionary

In [ ]:
If-else

# Control Flow

In [ ]:
#syntax
if condition:
    print(statement01)
print(statement02)

In [ ]:
#syntax
if condition:
    print(statement01)
else:
    print(statement02)

In [1]:
i = 10
if (i>15):
    print("i is greater than 15")
print("i is less than or equal to 15")

i is less than or equal to 15

In [2]:
i = 10
if (i>15):
    print("i is greater than 15")
else:
    print("i is less than or equal to 15")

i is less than or equal to 15

In [ ]:
if(condition01):
    print(statement01)
elif(condition02):
    print(statement02)
else: 
    print(statement02)

In [4]:
#elif
i=10
if (i>10):
    print("I is greater than 10")
elif (i==10):
    print("I is equal to 10")
else:
    print("I is not greater than 10")

I is equal to 10

In [11]:
#elif
i=10
if (i>10):
    print("I is greater than 10")
elif (i==10):
    print("I is equal to 10")
elif (i!=10):
    print("i is not equal to 10")
else:
    print("I is not greater than 10")

I is equal to 10

In [12]:
i=10
if i>10: 
    print("I is greater than 10")

In [16]:
i = 20 
if (i>10):
    print("i is greater than 10")
    if(i < 30 ):
        print("i is less than 30")
    else:
        print("i is greater than 30")
else: 
    print("i is not greater than 10")

i is greater than 10
i is less than 30

In [18]:
List = []
print("Blank list")
List

Blank list

[]

In [22]:
List = []
List1 = [10,20,30,40,50]
print(List)
print(List1)

[]
[10, 20, 30, 40, 50]

In [23]:
List1 = [10,20,30,40,50]
List1

[10, 20, 30, 40, 50]

In [24]:
List2 = ["Noor", "Hina", "Kashif", "Haris"]
print("List with strings")
List2

List with strings

['Noor', 'Hina', 'Kashif', 'Haris']

In [26]:
List3= [40, 50, "Noor", "Momna", 70]
print("List with Differnt values")
List3

List with Differnt values

[40, 50, 'Noor', 'Momna', 70]

In [28]:
print(List3[-1])

70

In [30]:
List2.extend(List1)
List2

['Noor', 'Hina', 'Kashif', 'Haris', 10, 20, 30, 40, 50, 10, 20, 30, 40, 50]

In [31]:
List1.extend([60,70,80,90])
List1

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [32]:
# Multi dimensional List
List3 = [["11,22,33,44"],["Apple", "Banana", "Orange"]]
List3

[['11,22,33,44'], ['Apple', 'Banana', 'Orange']]

In [35]:
List4 = [[11,22,33,44],10,["Apple", "Banana", "Orange"], "Amna", True]
List4

[[11, 22, 33, 44], 10, ['Apple', 'Banana', 'Orange'], 'Amna', True]

In [37]:
print(List4[0][3])

44

In [38]:
print(List4[2][1])

Banana

In [39]:
print(len(List4))

5

# Tuple

In [41]:
Tuple1 = ()
print("Empty Tuple")
print(Tuple1)

Empty Tuple
()

In [42]:
Tuple2 = ("Daniyal", "Hina", "Tariq")
print("Tuple with string")
Tuple2

Tuple with string

('Daniyal', 'Hina', 'Tariq')

In [49]:
Tuple3 = (10,20, 20, 30,20,30,40)
print("Tuple with numbers")
Tuple3

Tuple with numbers

(10, 20, 20, 30, 20, 30, 40)

In [44]:
Tuple4 = (5, "Welcome", "2", "Python", "Session", 2)
print("Tuple with mixed data types")
Tuple4

Tuple with mixed data types

(5, 'Welcome', '2', 'Python', 'Session', 2)

In [45]:
#nested tuple
Tuple5 = (Tuple2, Tuple3)
Tuple5

(('Daniyal', 'Hina', 'Tariq'), (10, 20, 30, 40))

In [53]:
Tuple6 = Tuple2 + Tuple2
Tuple6

('Daniyal', 'Hina', 'Tariq', 'Daniyal', 'Hina', 'Tariq')

In [56]:
Tuple7 = Tuple3 * 2
Tuple7

(10, 20, 20, 30, 20, 30, 40, 10, 20, 20, 30, 20, 30, 40)

In [57]:
Fruits = ("Apple", "Banana", "Orange", "Pineapple", "Strawberry")
(Red, Yellow, *green) = Fruits 

print(Red)
print(Yellow)
print(green)

Apple
Banana
['Orange', 'Pineapple', 'Strawberry']

In [58]:
# Tuple unpacking
Fruits = ("Apple", "Banana", "Orange", "Pineapple", "Strawberry")
a, b, c, d, e = Fruits
print("Values after unpacking")
print(a)
print(b)
print(c)
print(d)
print(e)

Values after unpacking
Apple
Banana
Orange
Pineapple
Strawberry

In [59]:
Fruits = []] "Strawberry")
print(Fruits[0])

Apple

In [60]:
print(Fruits[1:4])

('Banana', 'Orange', 'Pineapple')

In [61]:
print(Fruits[1:])

('Banana', 'Orange', 'Pineapple', 'Strawberry')

In [62]:
print(Fruits[1:5])

('Banana', 'Orange', 'Pineapple', 'Strawberry')

In [64]:
Fruits1 = Fruits[0:2]
print(Fruits1)

('Apple', 'Banana')

In [65]:
Fruits2 = Fruits[1:]
Fruits2

('Banana', 'Orange', 'Pineapple', 'Strawberry')

In [67]:
print(Fruits[:4])

('Apple', 'Banana', 'Orange', 'Pineapple')

In [68]:
#PEMDAS
Parathesis
Exponetial
Muliplication
Vivision
Addition

marks = 2 + 3 * 4
marks

14

In [82]:
marks1 = (2 + 3) - 2**2 + (13%2) - (30 - 5)
marks1

-23

In [83]:
Set1 = {1, 2, 3}
Set1

{1, 2, 3}

In [84]:
String = "Farwa"
Set2 = set([String])
Set2

{'Farwa'}

In [85]:
set3 = set([Tuple2])
set3

{('Daniyal', 'Hina', 'Tariq')}

In [89]:
List7 = ["Apple", "Orange","Strawberry"]
set4 = set([List7])
set4

TypeError: unhashable type: 'list'

In [91]:
Set1.add(4)
Set1

{1, 2, 3, 4}

In [92]:
Set1.add((5,6))
Set1

{(5, 6), 1, 2, 3, 4}

In [95]:
Set1.update([7,8])
Set1

{(5, 6), 1, 2, 3, 4, 7, 8}

In [97]:
Set1.remove(4)
Set1

{(5, 6), 1, 2, 3, 7, 8}

In [98]:
Set1.clear()
Set1

set()

# Dictionary

In [99]:
Dict1 = {}
Dict1

{}

In [100]:
Dict2 = {1: "Hina", 2:"Imran", 3:"Farhan"}
Dict2

{1: 'Hina', 2: 'Imran', 3: 'Farhan'}

In [101]:
Dict3 = {"Name":"Farwa", "Lang":"Python","No of students":40, "Student": [1,2,3,4]}
Dict3

{'Name': 'Farwa',
 'Lang': 'Python',
 'No of students': 40,
 'Student': [1, 2, 3, 4]}

In [103]:
Dict3["Coordinator"] = "Faryal"
Dict3

{'Name': 'Farwa',
 'Lang': 'Python',
 'No of students': 40,
 'Student': [1, 2, 3, 4],
 0: 'Faryal',
 'Coordinator': 'Faryal'}

In [104]:
print(Dict3["Name"])

Farwa

In [105]:
print(Dict3.keys())

dict_keys(['Name', 'Lang', 'No of students', 'Student', 0, 'Coordinator'])

In [106]:
print(Dict3.values())

dict_values(['Farwa', 'Python', 40, [1, 2, 3, 4], 'Faryal', 'Faryal'])

In [107]:
print(Dict3.items())

dict_items([('Name', 'Farwa'), ('Lang', 'Python'), ('No of students', 40), ('Student', [1, 2, 3, 4]), (0, 'Faryal'), ('Coordinator', 'Faryal')])

In [109]:
dict4 = Dict3.copy()
dict4

{'Name': 'Farwa',
 'Lang': 'Python',
 'No of students': 40,
 'Student': [1, 2, 3, 4],
 0: 'Faryal',
 'Coordinator': 'Faryal'}