A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).


With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [2]:
# for variable in iterable:
    #action to repeat

In [4]:
# string
greeting = "Hello"
for n in greeting:
    print(n)

H
e
l
l
o

In [6]:
#List
fruits = ["Apple", "Banana", "Orange"]
for f in fruits:
    print(f)

Apple
Banana
Orange

In [7]:
# Tuple
colors = ("Red", "Blue", "Yellow")
for c in colors:
    print(c)

Red
Blue
Yellow

In [8]:
#Set
colors = {"Red", "Blue", "Yellow"}
for c in colors:
    print(c)

Blue
Yellow
Red

In [11]:
for i in range(5):
    print(i+1)

1
2
3
4
5

In [12]:
for i in range(3,10):
    print(i)

3
4
5
6
7
8
9

In [13]:
for i in range(3,10,2):
    print(i)

3
5
7
9

In [14]:
numbers = [1,2,3,4,5]
for num in numbers:
    print(num)

1
2
3
4
5

In [15]:
#Sum of list
numbers = [1,2,3,4,5]
total = 1
for num in numbers:
    total+=num 
print("Total sum:", total)

Total sum: 15

In [16]:
#Use the same list and find the even numbers in this list 
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    if num % 2 == 0:
        print(num)

2
4

In [17]:
list1 =  [1, 2, 3]
list2 =  [4, 5, 6]
add = list1 + list2
add

[1, 2, 3, 4, 5, 6]

In [18]:
for item in add:
    print(item)

1
2
3
4
5
6

In [20]:
# Nested loop
adj = ["Red", "big", "Tasty"]
fruits = ["Apple", "Banana", "Orange"]
for x in adj: 
    for y in fruits:
        print(x,y)

Red Apple
Red Banana
Red Orange
big Apple
big Banana
big Orange
Tasty Apple
Tasty Banana
Tasty Orange

In [23]:
matrix = [[1,2,3],
          [4,5,6],
          [7,8,9]]
for row in matrix:
    for item in row:
        print(item)

1
2
3
4
5
6
7
8
9

In [24]:
matrix = [[1,2,3],
          [4,5,6],
          [7,8,9]]
for row in matrix:
    for item in row:
        print(row)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3]
[4, 5, 6]
[4, 5, 6]
[4, 5, 6]
[7, 8, 9]
[7, 8, 9]
[7, 8, 9]

In [26]:
#enumerate
fruits = ["Apple", "Banana", "Orange"]
for index, f in enumerate(fruits):
    print(f"Index:{index}, Fruit:{f}")

Index:0, Fruit:Apple
Index:1, Fruit:Banana
Index:2, Fruit:Orange

In [31]:
#Break
numbers = [6,9,-3,0,1,-7,9]
for n in numbers:
    if n<0:
        print(f"First negative number found: {n}")
        break #Exit the loop

First negative number found: -3

In [33]:
#Continue
numbers = [6,9,-3,0,1,-7,9]
for n in numbers:
    if n<0:
        print(f"First negative number found: {n}")

First negative number found: -3
First negative number found: -7

In [35]:
numbers = [1,2,3,4,5,6,7,8,9,10]
for num in numbers:
    if num % 2 == 0:
        continue  #skip this iteration
    print(f"Odd number: {num}")

Odd number: 1
Odd number: 3
Odd number: 5
Odd number: 7
Odd number: 9

In [37]:
fruits = ["Apple", "Banana", "Orange","Banana","Cherry","Banana"]
banana_count = 0
for f in fruits:
    if f == "Banana":
        banana_count += 1
print("Total bananas:", banana_count)

Total bananas: 3

In [41]:
#Dictionary
thisdict = {"Name": "Noor","City": "KP", "age":20}
for x in thisdict:
    print(thisdict[x])

Noor
KP
20

In [42]:
for x in thisdict.values():
    print(x)

Noor
KP
20

In [43]:
for x in thisdict.keys():
    print(x)

Name
City
age

In [44]:
for x,y in thisdict.items():
    print(x,y)

Name Noor
City KP
age 20

In [46]:
capitals = {"USA": "Washington","France": "Paris", "Italy":"Rome"}
for country,capital in capitals.items():
    print(f"The capital of {country} is {capital}")

The capital of USA is Washington
The capital of France is Paris
The capital of Italy is Rome

In [47]:
numbers = [1,2,3,4,5,6,7,8,9,10]
even_num = []
for num in numbers:
    if num % 2 == 0:
        even_num.append(num)
print("Even numbers:",even_num)

Even numbers: [2, 4, 6, 8, 10]

In [49]:
#Modifying elements in the list
numbers = [1,2,3,4,5]
for i in range(len(numbers)):
    numbers[i] = numbers[i] * 2
print(numbers)

[2, 4, 6, 8, 10]

In [50]:
#Adding elements in set
unique_num = {1,2,3}
for i in range(4,7):
    unique_num.add(i)
print(unique_num)

{1, 2, 3, 4, 5, 6}

In [51]:
# Calculate the average of a list
numbers = [2,4,6,8,10]
total_sum = 0

for n in numbers:
    total_sum += n
average = total_sum / len(numbers)
print("The average is:", average)

The average is: 6.0

In [54]:
data = [74, 38, 27, 49, 38, 30, 38, 20, 26]
age_limit = 30
filtered_data = []

for age in data:
    if age <= age_limit:
        filtered_data.append(age)
        
print("Filtered ages:", filtered_data)

Filtered ages: [27, 30, 20, 26]